*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background-color: rgb(218, 168, 228);
    color: white;
    overflow: white;
    overflow-y: scroll;
}
