/* src/Components/CVDownload.css */
#cv-download {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    background:linear-gradient(to right, #2c3e50, #4ca1af);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cv-download h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: rgb(93, 203, 93);
}

#cv-download .highlight {
    color: orange;
}

#cv-download p {
    color: #f3ebeb;
    margin-bottom: 20px;
}

#cv-download .download-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: orange;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, box-shadow 0.3s;
}

#cv-download .download-btn:hover {
    background: darkorange;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
